.depoimentos__container {
    margin: 0rem 7rem 6rem 7rem;
    padding: 64px;
    text-align: center;
    border-radius: 16px;
    background: var(--vermelho-degrade);
}

.depoimentos__conteudo {
    margin-bottom: 2rem;
}

.depoimentos__span {
    color: var(--vermelho);
    font-size: 0.85rem;
    font-weight: 600;
}

.depoimentos__texto {
    color: var(cinza-escuro);
    font-size: 36px;
    margin-top: 1rem;
}

.colaboradora__nome {
    color: var(--cinza-escuro);
    margin-top: 1rem;
}

.colaboradora__area {
    font-size: 14px;
    font-weight: 400;
    margin-top: 0.25px;
}